
.TMv_WorkflowStageHistory {
	
	
	.workflow_stage_color {
		display: block;
		height: 11px;
		font-size: 12px;
		padding: 8px 5px;
		margin-left: 0px;
		margin:-8px;
		margin-bottom:8px;
	}
	
	
	
	
	.stage_title {
		padding-bottom: 10px;
		padding-left: 5px;
	}
	
	div.history_date {
		padding-bottom: 0px;// tighten up styling
	}
	
	
}