@import "../../../config/workflow_colors";

.TMv_WorkflowComment {
		position: relative;

		.comment_box {
			font-size:14px;
			margin-right:40px; // moves it to not interact with the control panel
			
			line-height: 1.3em;
			
			a:link, a:visited {
				color: #666;
				display: inline;
				padding:0px;
				margin:0px;
			}
			
			
			p {
				padding-bottom:5px;
			}
			
			ul, ol {
				padding-bottom: 5px;
				padding-left: 20px;
				
				li {
					padding-bottom: 5px;
				}
			}
				
		}
	
	
		.history_date {
			font-size:11px;
		}
	
		.workflow_control_panel {
		//	display: block;
			display: block;
			position:absolute;
			top:0px;
			right:0px;
			//width:calc(100% - 10px);
			height:100%;//calc(100% - 20px);
			//border:5px solid #666;
			width:40px;
			//background:#666;
			
			//height:100%;
			
			//background:rgba(255,255,255,0.4);
			//background:rgba(0,0,0,0.4);
			z-index: 50;
			align-items:center;

			a {
				text-align: center;
				margin:0px;
				height: calc(50% - 3px);
				
				display:flex;
				flex-grow:1;
				align-items:center;
				justify-content: center;
				padding:0px;
				color:#FFF;
				border:2px solid #FFF;
				
				&.comment_toggle_resolved {
				//	color:$resolved-color;
					background:rgba($resolved-color, 0.7);
					border-bottom-width:1px;
					
				}

				
				&.comment_delete{
				//	color:$delete-color;
					background:rgba($delete-color , 0.7);
					border-top-width:1px;
					
				}
				
				&.comment_link {
					color:#000099;
				}
				
				&:hover {
					&.comment_delete {
						background:rgba($delete-color , 1.0);
					}

					&.comment_toggle_resolved {
						background:rgba($resolved-color, 1.0);
					}

				}
			}
			
			.link_icon {
				font-size:14px;
			}
		}

		&:hover {
			.control_panel {
			//	display: flex;

			}
		}
	
	//////////////////////////////////////////////////////
	//
	// CONTENT LINKING
	//
	//////////////////////////////////////////////////////
	
	.content_link_icon {
		position: absolute;
		
		background: $workflow-color;
		color:#FFF;
		font-size:11px;
		left:-7px;
		bottom:-7px;
		padding:5px;
		border-radius: 50%;
		width:11px;
		height:11px;
		
		
	}
	
	
	//////////////////////////////////////////////////////
	//
	// RESOLVED STYLING
	//
	//////////////////////////////////////////////////////
	
	&.resolved {
		border-color: $resolved-color;
		background: rgba($resolved-color, 0.1);
		
		.history_user, .history_date {
			color: $resolved-color;
		}
		
		//.comment_box {
		//	display: none;
		//}
		
		.control_panel {
			display: none;
			
			.comment_delete {
				display: none;
			}
			
			.comment_toggle_resolved {
				height: calc(100% - 4px);
				
				// change the icon
				.link_icon::before {
					content: "\f112";
				}
			}
			
		}
		
		.content_link_icon {
			background-color:$resolved-color;
		}
		
		&:hover , &.show_details {
			
			//.comment_box ,
			//.control_panel ,
			//.content_link_icon {
			//		display: block;
			//}
			
		}
		
	}
	
	
	
}