@import "../../../config/workflow_colors";



.TMv_WorkflowControlBar {
		padding: 0px 0px;
		display: inline-block;
		position: absolute;
		right: 0px;
		width: 330px;
		//height: 30px;
		overflow: hidden;
		text-align: right;
	
		#workflow_editor {
			text-align: left;
		}
		
		
	
		.control_button {

			color: #FFF;
			background: rgba($workflow-color, 1);
			/*border:1px solid #FFF;*/
			padding: 5px 15px;
			height: 20px;
			text-align: center;
			margin: 0px;
			vertical-align: top;
			transition: background-color 0.3s ease-in-out, color  0.3s ease-in-out;
			border-left: 1px solid #FFF;
			
			
		}

		.control_button .link_icon {
			font-size: 18px;
		}

		a:hover {
			background: $workflow-color-dark;
		}

		.control_button.showing {
			background: $workflow-color-light;
			color: $workflow-color;
		}

		#workflow_control_toggle {
			//width: 30px;
			height: 14px;
			padding: 8px 8px;
			text-transform: uppercase;
			font-size: 11px;
			text-align: center;
			margin: 0px;
			background-color: #333;
			vertical-align: top;
			border-left:1px solid #FFF;
			
			svg {
				padding-right:0px !important;
			}
			
			&:hover {
				background-color: #009900;
			}
			
		}

		#workflow_control_settings {
			//margin:0px;
			//padding-left:10px;
			//padding-right:10px;
			background-color:#333;
			//border-left:1px solid #FFF;
			
			&:hover {
				background-color: #555;
			}
			
			&.showing {
				background-color: $tungsten-blue;
				color:#FFF;
			}
		}
	
		//#workflow_control_status,
		//#workflow_control_people,
		//#workflow_control_comments {
		//	width: calc(20% - 1px);
		//}

		#workflow_control_toggle .link_icon {
			font-size: 12px;
			padding-right: 10px;
			width: 12px;
		}

		#workflow_control_toggle.hiding_workflow .link_icon::before {
			content: "\f054";
		}

		/** DEAL WITH PINNING **/
		&.pinned {
			position: fixed;
			top: 0;
			right: 0px;
			z-index: 200;
		}
	
		.workflow_switch_button {
			margin:0px;
			padding-left:8px;
			padding-right:8px;
			
			&:hover {
				color:#DDD;
			}
		}
	}

body.showing_workflow {
	
	.TMv_WorkflowControlBar {
		
		// We're showing, so flip the default styles
		#workflow_control_toggle {
			&:hover {
				background-color: #900;
			}
			
			svg {
				transform: rotate(180deg);
			}
		}
		
	}
}