
$error_color : rgb(153,0,0);
.TMv_WorkflowSummary {
	padding-right: 10px;
	margin:1px 0px;
	
	.workflow_stage_color {
		display: block;
		height: 11px;
		//-webkit-border-radius: 3px;
		//-moz-border-radius: 3px;
		//border-radius: 3px;
		/*margin-left:20px;*/
		font-size: 12px;
		padding: 5px 5px;
		position: relative;
		z-index: 10;
	}
	
	.workflow_tag {
		background:#333;
		color:#FFF !important;
		margin:-5px 5px -5px -5px;
		border-right:1px solid #FFF;
		padding:5px;
		height: inherit;
		display: inline-block;
	}
	
	.workflow_stage_color:hover {
		opacity: 0.8;
	}
	
	.workflow_details {
		margin-top: 5px;
		display: block;
	}
	.workflow_details:empty {
		display: none;
	}
	
	.workflow_details {
		
		.detail_box {
			
			display: inline-block;
			text-align: center;
			height: 12px;
			padding: 5px;
			margin-right: 3px;
			border-radius: 3px;
			color: #FFF;
			margin-bottom: 3px;
			vertical-align: top;
		}
		
		a.detail_box:hover {
			opacity: 0.7;
		}
		.detail_box .link_icon {
			padding-right: 3px;
		}
		.user_box {
			background: #999;
		}
		.comment_box {
			background: #AAA;
			
			.link_icon {
				color: #FFF;
			}
			
			&.comment_action_required {
				background: #900;
			}
		}
		
		.user_box.active_user {
			background: #E8881F;
		}
	}
	.next_stage_box {
		display: none;
		margin: -5px 0px 2px 0px;
		padding:10px 5px 0 5px;
		border:1px solid #999;
		border-top:none;
		//border-radius: 0px 0px 3px 3px;
		background: #FFF;
		a {
			display: block;
			border-left: 12px solid #FFF;
			padding: 0px 0px 0px 5px;
			margin-bottom: 5px;
		}
		
		a .link_icon {
			float: right;
		}
	}


	.workflow_error {
	
		display: block;
		padding:0px;
		border:1px solid $error_color;
		
		color:$error_color;
		line-height: 11px;
		margin-top:4px;
		margin-right:10px;
		border-radius: 3px;
		margin-left:10px;
		
		span  {
			font-size:11px;
			display: inline-block;
		}
		
		.link_icon {
			font-size:12px;
			background:$error_color;
			color:#FFF;
			padding:2px 4px;
			margin-right:4px;
			width:14px;
			text-align: center;
			display: inline-block;
		}
		
		&:hover {
			background:rgba($error-color,0.1);
			cursor: pointer;
			
			span {
				color:$error_color;
			}
		}
	}
	
	
	
	
}