.TMv_WorkflowHistoryItem{border:1px solid #999;padding:8px;margin-bottom:10px}.TMv_WorkflowHistoryItem .history_user{font-weight:bold;padding-bottom:5px}.TMv_WorkflowHistoryItem .history_date{color:#666;padding-bottom:5px}.TMv_WorkflowHistoryItem .workflow_model_link{display:block;font-size:14px;padding-bottom:8px}.TMv_WorkflowHistoryItem .workflow_model_link .link_icon{padding-right:5px}/*# sourceMappingURL=TMv_WorkflowHistoryItem.css.map */
